.search-block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.load-more {
  height: 5rem ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-button {
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
}
/* Snackbar */
.sb-bg {
  font-size: 200px;
  opacity: 20%;
  right: 70px;
  bottom: -60px;
  position: absolute;
}
.snackbar {
  overflow: hidden;
  visibility: hidden;
  min-width: 250px;
  background-color: white;
  border: 1px solid rgb(111, 111, 111);
  box-shadow: 1px 2px 5px rgb(130, 130, 130);
  border-radius: 8px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  right: 5vw;
  bottom: 20px;
}
.snackbar > h5 {
  color: red;
  text-shadow: 0 0 0.2rem #707070;
  text-align: center;
}
.show {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 6.5s;
  animation: fadein 0.5s, fadeout 0.5s 6.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}