@media (max-width: 1000px) {
  .block3-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .block3-card {
    width: 50%;
    border-bottom: 1px solid #e2e2e2;
  }
}

@media (max-width: 600px) {
  .block3-container {
    width: 300px;
    flex-direction: column;
  }
}
