.block2-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid #e2e2e2;
  margin: 1rem 0;
  padding: 1rem 0;
}
.block2-card {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
.block2-card > .card {
  margin: 0;
  padding: 0;
}

